<!DOCTYPE html>
<html ng-app="app1" ng-cloak ng-init="person={fname:'Nahid',lname:'Rahman'};
	capitals=[{city:'Dhaka',country:'Bangladesh'},{city:'Austin',country:'USA'},{city:'Brussels',country:'Belgium'}]">
<meta charset="ISO-8859-1">
<head>
<title>Angular JS Practice</title>
	<style>
	[ng\:cloak],[ng-cloak],.ng-cloak{
		display: none;
	}
	</style>
</head>
<body>

<div ng-controller="ctrl1">
<span>Values:</span>
<input type="text" ng-model="first"/>
<input type="text" ng-model="second"/>

<button ng-click="updateValue()">calculate</button> <br><br>
{{calculation}}
<p> Your first data is {{first}}</p>

<p> Your first data is <span data-ng-bind="second"></span></p>

<p>{{person.fname}} {{person.lname}} you have entered {{first}} and {{second}}</p>

<ul ng-repeat="capital in capitals">
	<li>
		{{'capital of'+' '+capital.country+' '+'is '+capital.city}}
	</li>
</ul>
</div>

<h4 ng-controller="ctrl2">Randomly generated mood: {{feelings}}</h4>


<script src="js/angular.min.js"></script>
<script src="js/exam1.js"></script>
</body>
</html>