<!DOCTYPE html>
<html>
<head>
	<script src="js/angular.min.js"></script>
</head>
<body>
	<h2>Hello Angular JS</h2>

	<div ng-app="myAngular" ng-controller="angCtrl" ng-init="myCol1='lightgreen'; myCol2='lightblue'; 
		qty=5;price=4; brother={name:'Jahid',age:24};points=[12,6,5,10,7]">
		First Name: <input type="text" ng-model="fName" style="background-color: {{myCol1}}" value="{{myCol1}}"/> <br/>
		Last name: <input type="text" ng-model="lName" style="background-color: {{myCol2}}" value="{{myCol2}}"/> <br/>
		Full Name: {{fName +" "+ lName}} <br/>
		Total Cost: <span ng-bind="qty*price"></span><br/>
		My Brother's name is {{brother.name}} and his age is {{brother.age}}<br/>
		The third point is {{points[2]}}
	</div>
	<a href="practiceOne.html">Click Me...</a>
	<script>
		var app = angular.module('myAngular', []);
		app.controller('angCtrl', function($scope) {
			$scope.fName = "Md Nahid";
			$scope.lName = "Rahman";
		});
	</script>
</body>
</html>
