<!DOCTYPE html>
<html ng-app="app2" ng-cloak>
<meta charset="ISO-8859-1">
<head>
<title>Angular JS Practice</title>
	<style>
	[ng\:cloak],[ng-cloak],.ng-cloak{
		display: none;
	}
	table{
		width: 400px;
		text-align: left;
		border: 2px solid black;
		padding: 10px;
	}
	input.ng-dirty.ng-invalid {
		border-color: red;
	}
	</style>
</head>
<body>

<div ng-controller="gListCtrl">
	<h3>Grocery List</h3>
	<table>
		<thead>
			<tr>
				<th>item</th>
				<th>purchased</th>
			</tr>
		</thead>
		<tr ng-repeat="grocery in groceries">
				<td>{{grocery.item}}</td>
				<td><input type="checkbox" ng-model="grocery.purchased"/></td>
		</tr>
	</table>
<br>
	<label>New item:
		<input type="text" ng-model="newItem"/>
	</label>
	<button ng-click="addItem(newItem)">Add Item</button>
	<h4>{{missingNewItemError}}</h4>

<hr>

	<form name="userForm" ng-submit="saveUser(userInfo)">
		<label>First Name:</label>
		<input type="text" name="fName" ng-model="userInfo.fName" ng-required="true" ng-minlength="2"/>
		<span class="error-message" ng-show="userForm.fName.$dirty &&
		userForm.fName.$error.required">
		Must enter a first name</span>
		<span class="error-message" ng-show="userForm.fName.$dirty &&
		userForm.fName.$error.minlength">
		Must be at least 2 characters</span>

		<br><br>

		<label>Last Name:</label>
		<input type="text" name="lName" ng-model="userInfo.lName" ng-required="true" ng-minlength="2"/>
		<span class="error-message" ng-show="userForm.lName.$dirty &&
		userForm.lName.$error.required">
		Must enter a lastt name</span>
		<span class="error-message" ng-show="userForm.lName.$dirty &&
		userForm.lName.$error.minlength">
		Must be at least 2 characters</span>

		<br><br>

		<input type="text" name="street" ng-model="userInfo.street"
		ng-required="true" ng-minlength="6" ng-pattern="/^(\d{3,})\s?(\w{0,5})\s([a-zA-Z]{2,30})\s([a-zA-Z]{2,15})\.?\s?(\w{0,5})$/" />
		<span class="error-message" ng-show="userForm.street.$dirty &&
		userForm.street.$invalid">Must enter a number, street and street type (ex: 123 Main St.)
		</span>

		<br><br>

		<label>Subscribe:</label>
		<input type="checkbox" name="subscribe" ng-model="userInfo.subscribe" ng-true-value="'Subscribe'" ng-false-value="'Don\'t Subscribe'" />

		<br><br>

		<label>Delivery Method</label>
		<select name="delivery" ng-model="userInfo.delivery" ng-required="true">
			<option value="Email">Email</option>
			<option value="Mail">Mail</option>
		</select>

		<br><br>

		<input type="submit" value="Save"
		ng-disabled="userForm.$invalid"/>

		<ul>
			<li ng-repeat="item in user">
				{{'User: '+ item.fName + " " + item.lName + " " +
			  item.street + " " + item.subscribe + " " +
				item.delivery}}
			</li>
		</ul>
	</form>
</div>

<br><br>
<hr>
<div ng-controller="heroCtrl">
	<label>Hero to search for:</label>
	<input type="text" ng-model="heroName"/>
	<br><br>
	<button ng-click="getHeroData()">Submit</button>
	<br><br>
	{{heroData}}<br>
</div>
<div ng-controller="heroCtrl">
	<label>Hero Name:</label>
	<input type="text" ng-model="heroName" /><br><br>
	<label>Real Name:</label>
	<input type="text" ng-model="realName" /><br><br>
	<button ng-click="addHeroData(realName,heroName)">Add Hero</button>
</div>

<hr>
<div ng-controller="mainCtrl as parent">
	<p>Name: {{parent.name}}</p>
	<p>Sound: {{parent.sound}}</p>
	<button ng-click=parent.animalClick()>Animal Data</button><br>
</div>

<div ng-controller="dogCtrl as dog">
	<p>Name: {{dog.child.name}}</p>
	<p>Sound: {{dog.child.sound}}</p>
	<button ng-click=dog.child.animalClick()>Dog Data</button><br>
	<button ng-click=dog.child.dogData()>More Dog Data</button><br>
	<input ng-model="dog.child.bark"/><br><br>
	<span>New bark: {{dog.child.bark}}</span>
</div>

<hr>

<div ng-controller="utilCtrl">
	<label>Make Uppercase:</label>
	<input type="text" ng-model="name"/>
	<p>Uppercase: {{name | uppercase}}</p>
	<p>Lowercase: {{name | lowercase}}</p>

	<label>Currency Filter:</label>
	<input type="text" ng-model="money"/>
	<p>Currency: {{money | currency}}</p>

	<ul>
		<li ng-repeat="student in student.gpas | filter:
		studentName | orderBy: -gpa">
		{{'Name: ' + student.name + 'GPA: '  +
		student.gpa}}
		</li>
	</ul>

	<label>Number filter:</label>
	<input type="text" ng-model="numVal"/>
	<p>Default: {{numVal | number}}</p>
	<p>No fractions: {{numVal | number:0}}</p>
	<p>Negative 4 Decimal: {{-numVal | number:4}}</p><br>

	<p>Date 1: {{currDate | date: 'medium'}}</p>
	<p>Date 2: {{currDate | date: "MM/dd/yyyy 'at' h:mma"}}</p>

	<p>Default: {{randStr}}</p>
	<p>10 Characters: {{randStr | limitTo:10}}</p>
	<p>
		<ul>
			<li ng-repeat="item in randArray | limitTo:3">
				{{item}}
			</li>
		</ul>
	</p>

	<hr>
</div>

<!-- <div ng-controller="weatherCtrl">
	<p>
		<ul>
			<li ng-repeat="item in weather">
				{{item.day + ": "}} {{item.rain | raining}}
			</li>
		</ul>
	</p>
</div> -->

<script src="js/angular.min.js"></script>
<script src="js/filters.js"></script>
<script src="js/exam2.js"></script>
</body>
</html>
